@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2 class="text my-5">Contact Us</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Get in Touch</h3>
            <br />
            <p>If you have any questions, feel free to reach out to us. We'd love to hear from you!</p>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Your Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Contact Information</h3>
            <br />

            <p><strong>Address:</strong> 123 Main Street, Anytown, USA</p>
            <p><strong>Email:</strong> info@example.com</p>
            <p><strong>Phone:</strong> +1 (123) 456-7890</p>
            <h3>Follow Us</h3>
            <div>
                <a href="#" class="btn btn-outline-primary btn-sm me-2"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#" class="btn btn-outline-info btn-sm me-2"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#" class="btn btn-outline-danger btn-sm"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
            <div class="mt-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.149160317034!2d144.9560543153199!3d-37.8172099
