@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the E-Commerce Store!</h1>
        <p class="lead">This is the place where everything starts.</p>
        <hr class="my-4">
        <p>Explore the various features and functionalities.</p>
        <a class="btn btn-primary btn-lg" href="/Home/Categories" role="button">Start with Categories ></a>
    </div>
</div>
