@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navAdmin {
    <ul class="navbar-nav flex-grow-1">
        <li>@Html.ActionLink("Admin Dashboard", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("User Management", "Users", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
    </ul>
}

<div class="admin-container">
    @RenderBody()
</div>
